.exhibitions {
  margin-top: 90px;

  padding-left: 20px;
  padding-right: 20px;

  overflow: hidden;

  @include on-tablet {
    margin-top: 105px;

    padding-left: 39px;
    padding-right: 39px;
  }

  @include on-desktop {
    margin-top: 110px;

    padding-left: 55px;
    padding-right: 55px;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: #1c1b29;
    margin: 0;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__cards {
    margin-top: 60px;

    display: flex;
    flex-direction: column;

    gap: 60px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 75px;

      gap: 30px;
    }
  }

  &__card-image {
    width: 100%;
    height: auto;

    object-fit: cover;

    @include on-desktop {
      max-height: 484px;
    }
  }

  &__card-date {
    margin: 0;
    padding-top: 20px;

    color: #cd4d31;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  &__card-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #1c1b29;

    margin: 0;
    padding-top: 10px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__card-sub-title {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #504f5e;

    margin: 0;
    padding-top: 20px;
  }

  &__card-sub-title--two {
    @include on-tablet {
      padding-top: 50px;
    }

    @include on-desktop {
      padding-top: 20px;
    }
  }

  &__card-button {
    margin-top: 30px;

    width: 280px;
    height: 60px;

    background-color: #cd4d31;

    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      margin-top: 40px;
      width: 330px;
    }

    @include on-desktop {
      margin-top: 50px;
      width: 270px;
    }
  }

  &__card-button-link {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    color: #f1f5f4;
    text-decoration: none;
  }

  &__buttons {
    margin-top: 30px;

    @include on-tablet {
      display: none;
    }
  }

  &__top {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__buttons-two {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &__button {
    border: 1px solid #cd4d31;
    width: 280px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    @include on-tablet {
      width: 210px;
    }

    @include on-desktop {
      width: 270px;
    }
  }

  &__button-link {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #cd4d31;
  }
}
