.footer {
  margin-top: 80px;

  padding: 34px 20px 30px ;

  background-color: #3f5252;

  @include on-tablet {
    padding: 50px 39px 30px ;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  @include on-desktop {
    padding: 50px 55px 30px ;
  }

  &__contacts {
    @include on-tablet {
      grid-column: 1 / 3;
    }
  }

  &__contacts-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #f1f5f4;

    margin: 0;

    @include on-tablet {
      font-size: 20px;
    }
  }

  &__contacts-links {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
  }

  &__contacts-link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    text-decoration: none;
    color: #f1f5f4;
  }

  &__blog {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }

  &__schedule {
    margin-top: 50px;

    @include on-tablet {
      grid-column: 3 / 5;
      margin-top: 0;
    }
  }

  &__schedule-title {
    color: #f1f5f4;
    margin: 0;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__schedule-sub-title {
    color: #f1f5f4;
    margin: 0;
    padding-top: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__nav {
    margin-top: 50px;

    @include on-tablet {
      grid-column: 5 / 6;
      margin-top: 0;
    }
  }

  &__links-title {
    margin: 0;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #f1f5f4;
  }

  &__links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #f1f5f4;
    text-decoration: none;
  }

  &__bottom {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;

    @include on-tablet {
      grid-column: 1 / -1;
    }
  }

  &__bottom-text-block {
    display: flex;
    gap: 22px;
    align-items: center;
  }

  &__bottom-title {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #f1f5f4;
    margin: 0;
  }
}
