.news {
  margin-top: 90px;

  padding-left: 20px;
  padding-right: 20px;

  @include on-tablet {
    margin-top: 125px;

    padding-left: 38px;
    padding-right: 40px;
  }

  @include on-desktop {
    margin-top: 110px;

    padding-left: 55px;
    padding-right: 55px;
  }

  &__title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1c1b29;

    margin: 0;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__cards {
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      margin-top: 70px;
    }

    @include on-desktop {
      gap: 32px;
      margin-top: 55px;
    }
  }

  &__card-image {
    width: 100%;
    height: auto;
    max-height: 370px;

    @include on-desktop {
      max-height: 370px;
    }
  }

  &__card-text-block {
    margin-top: 20px;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-desktop {
      margin-top: 20px;
    }
  }

  &__card-date {
    margin: 0;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #1c1b29;
  }

  &__card-title {
    margin: 0;

    color: #1c1b29;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  &__card-sub-title {
    margin: 0;
    padding-top: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #504f5e;

    @include on-tablet {
      padding-top: 18px;
    }
  }

  &__buttons {
    margin-top: 30px;

    @include on-tablet {
      display: none;
    }
  }

  &__top {
    @include on-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__buttons-two {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

  &__button {
    border: 1px solid #cd4d31;
    width: 280px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;


    color: #cd4d31;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid #af3419;
      color: #af3419;
    }

    &:active {
      border: 1px solid #ea340d;
      color: #ea340d;
    }

    @include on-tablet {
      width: 210px;
    }

    @include on-desktop {
      width: 270px;
    }
  }

 
}
