.subscribe {
  margin-top: 120px;

  padding-left: 20px;
  padding-right: 20px;

  @include on-tablet {
    margin-top: 160px;

    padding-left: 39px;
    padding-right: 39px;
  }

  @include on-desktop {
    margin-top: 200px;

    padding-left: 55px;
    padding-right: 55px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__titles {
    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__title {
    margin: 0;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: #1c1b29;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__sub-titles {
    padding-top: 20px;

    @include on-desktop {
      padding-top: 0;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__sub-title {
    margin: 0;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1c1b29;

    @include on-tablet {
      padding-right: 104px;
    }

    @include on-desktop {
      padding-right: 0;
    }
  }

  &__form {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include on-desktop {
      gap: 40px;

      grid-column: span 5;
    }
  }

  &__input {
    width: 280px;
    height: auto;

    border: none;
    background-color: #f1f5f4;

    border-bottom: 1px solid #1c1b29;
    outline: none;

    &::placeholder {
      font-family: Raleway, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      vertical-align: middle;

      color: #1c1b29;
    }

    @include on-tablet {
      width: 450px;
    }

    @include on-desktop {
      width: 470px;
    }
  }

  &__button {
    width: 280px;
    height: 60px;

    background-color: #cd4d31;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    color: #f1f5f4;

    transition: all 0.3s ease;
    border: none;

    &:hover {
      background-color: #af3419;
    }

    &:active {
      background-color: #ea340d;
    }

    @include on-tablet {
      width: 330px;
    }

    @include on-desktop {
      width: 270px;
    }
  }
}
